//dialog
.dialog {
  width: 100%;
  max-width: 400px;
  height: 100%;
  max-height: 250px;

  border: 2px solid rgba(69, 53, 255, 1);
  border-radius: 5px;
  background-color: transparent;
  margin: 0 auto;

  &__inner {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 40px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
  }

  &-title {
    font-size: 24px;
    font-weight: 500;
  }

  &-btn-group {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }
}
